.linef{
    margin-top: 8px;
    width: 1px;
    height: 400px;
    background-color: #C1BBEB;
}

.linefff{
    margin-top: 8px;
    width: 1px;
    height: 77px;
    background-color: #C1BBEB;
}
.bor{
   border: 4px solid #867BFF;;
  
}